node_modules
.next
out
build
.git
.gitignore
.idea
*.md
!README.md
.env
.env.*
!.env.example
serviceAccountKey.json
*-firebase-adminsdk-*.json
npm-debug.log*
.DS_Store
.vercel
*.tsbuildinfo
chabot_api/.env
chabot_api/.git
